*{
    margin: 0;
    padding: 0;
}
.regImg{
    height: 100vh;
    width: 100%;
    object-fit: cover;
    display: block;
}
.reg-box{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}
.reg-title{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-right: 50px;
    width: 500px;
}
.reg-title h2{
    color: #11175D;
    font-size: 34px;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    padding-bottom: 13px;
}

.reg-title p{
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #808080;
    padding-bottom: 39px;
    padding-top: 13px;
    }

    .reg-title p:last-child{
        padding-top: 35px;
        color: #03014C;
        font-size: 13px;
        font-weight: 700;
        font-family: "Nunito", sans-serif;
        margin-left: 34px;
        
    }

    .reg-title p:last-child span{
        color: #EA6C00;
        font-family: "Nunito", sans-serif;
        font-size: 13px;
    }

    .googleBtn{
        display: flex;
        gap: 10px;
        border:1px solid #8080806e;
        border-radius: 9px;
        justify-content: center;
        align-items: center;
        padding: 23px 29px;
        margin-bottom: 54px;

    }
    .googleBtn img{
        height: 19px;
        width: 19px;
    }
    .googleBtn h4{
        font-family: "Open Sans", sans-serif;
        color: #03014C;
        font-size: 13px;
        font-weight: 400;
    }
    .reg-title h5{
    color: #11175D;
    font-size: 34px;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    padding-bottom: 29px;
}

.passField{
    position: relative;
    width: 100%;
    margin-left: 228px;
}
.fa-eye-on{
    position: absolute;
    left: 49%;
    top: 20%;
}

.fa-eye-on-login{
    position: absolute;
    left: 49%;
    top: 22%;
}


.error-screen{
    color: red;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    padding-bottom: 15px;
    
}

    .reg-grid{
        background: #092d54;
    }

    .passFieldLogin{
         position: relative;
          width: 100%;
          
    }
