*{
    margin: 0;
    padding: 0;
}
.regImg{
    height: 100vh;
    width: 100%;
    object-fit: cover;
    display: block;
}
.reg-box{
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100%;

}
.reg-title{
    
    display: flex;
    flex-direction: column;
    
    align-items:center;
    justify-content: center;
    height: 100%;
    padding-right: 50px;
    width: 500px;
}
.reg-title h2{
    color: #11175D;
    font-size: 34px;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    padding-bottom: 13px;
}

.reg-title p{
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #808080;
    padding-bottom: 39px;
    padding-top: 13px;
    }

    .reg-title p:last-child{
        padding-top: 35px;
        color: #03014C;
        font-size: 13px;
        font-weight: 700;
        font-family: "Nunito", sans-serif;
        
        
    }

    .reg-title p:last-child span{
        color: #EA6C00;
        font-family: "Nunito", sans-serif;
        font-size: 13px;
    }

    .googleBtn{
        display: flex;
        gap: 10px;
        border:1px solid #8080806e;
        border-radius: 9px;
        justify-content: center;
        align-items: center;
        padding: 23px 29px;
        margin-bottom: 54px;
        cursor: pointer;

    }
    .googleBtn img{
        height: 19px;
        width: 19px;
    }
    .googleBtn h4{
        font-family: "Open Sans", sans-serif;
        color: #03014C;
        font-size: 13px;
        font-weight: 400;
        cursor: pointer;
    }
    .reg-title h5{
    color: #11175D;
    font-size: 34px;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    padding-bottom: 29px;
}

.passField{
    position: relative;
    width: 100%;
    
    text-align: center;
}
.fa-eye-on{
    position: absolute;
    left: 70%;
    top: 20%;
}

.fa-eye-on-login{
    position: absolute;
    left: 70%;
    top: 22%;
}



.error-screen{
    color: red;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    padding-bottom: 15px;
    
}


    .reg-grid{
        background: #092d54;
    }

    .passFieldLogin{
         position: relative;
          width: 100%;
          
    }

    @media (min-width: 370px) and (max-width: 600px) {
          .reg-title{
            margin-left: 50px;
            
          }
        .reg-title h2{
            font-size: 18px;
            margin-left: 5px;
            
        }
        .reg-title p{
            font-size: 16px;
            
        }
        #outlined-basic{
            width: 500px;
        }
        .reg-title h5{
            font-size: 30px;
            
        }
        
        
}
.forget-pass{
    height: 5px;
    width: 200px;
    margin-left: 72px;
    margin-bottom: 40px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #EA6C00;
    cursor: pointer;
}

     .forget-pass-ui{
        background: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(10px);
        
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        display: flex ;
        justify-content: center;
        align-items: center;
        /* left: 0; */
     }

  
.forget-pass-ui-box{
    background: #ffffff;
    text-align: center;
    height: 170px;
    width: 381px;
    padding: 50px 50px;
    border: solid black;
    border-radius: 20px;
}

.forget-pass-email{
    width: 100% !important;
}

.forget-pass-btn-box{
    display: flex;
    gap: 20px;
}

/* Sidebar Layouts */

.sidebar-layouts{
    height: 95vh;
    width: 80%;
    margin: 20px auto;
    background: #5F35F5;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0px;
    box-sizing: border-box;
   

}

.profile-layout{
 width: 110px;
 height: 110px;
 border-radius: 100%;
 position: relative;
}
.profile-layout:hover .overlay{
    opacity: 1;
}


.profile-layout .overlay{
   width: 100%;
 height: 100%;
 border-radius: 100%;
 background: rgba(0, 0, 0, 0.6);
 position: absolute;
 top: 0;
 left: 0;
 display: flex;
 justify-content: center;
 align-items: center;
 opacity: 0;
 transition: 0.6s;
}

.profile-layout .overlay .icon{
    color: #fff;
    font-size: 40px;
    
}

.profile-layout img{
    width: 100%;
}

.popup-image{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-img-box{
    height: 500px;
    width: 600px;
    background: white;
    border-radius: 20px;
    

}

.page-layout{
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

.page-icon{
    color: #BAD1FF;
    font-size: 50px;
}

.active{
    position: relative;
    z-index: 2;
    width: 100%;
}
.active .page-icon{
    color: #5F35F5;
    
}

.active::after{
    height: 100px;
    width: 370%;
    content: "";
    background: white;
    position: absolute;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    left: -22px;
    top: -22px;
    z-index: -1;
}

.active::before{
    height: 100px;
    width: 12px;
    content: "";
    background: #5F35F5;
    position: absolute;
    border-radius: 80px;    
    left: 300%;
    top: -22px;
    z-index: 1;
}

/* UserList */
.user-box{
    width: 100%;   
}

.grid-division{
    margin-top: 22px;
    margin-right:30px;
}
.user-search-box{
    position: relative;
}
.user-search-box input{
    width: 100%;
    border: 0px;
    border-radius: 20px;
    background: white;
    padding: 18px 55px;
    box-sizing: border-box;
    box-shadow: 0px 10px 15px 4px rgba(0,0,0,0.3);
-webkit-box-shadow: 0px 10px 15px 4px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 10px 15px 4px rgba(0,0,0,0.3);
}
.user-search-box input::placeholder{
    font-family:"Poppins", sans-serif;
    padding-left: 18px;
}

.user-search-box input:focus{
    outline:2px solid #5F35F5;
}

.search-icon{
 position: absolute;
 height: 20px;
 width: 20px;
 left: 25px;
 top: 50%;
 transform: translateY(-50%);
 
}

.threeDot-icon{
 position: absolute;
 right: 25px;
 top: 50%;
 transform: translateY(-50%);
 color:#5F35F5;
}

.userList-box{
    box-shadow: 0px 10px 15px 4px rgba(0,0,0,0.11);
-webkit-box-shadow: 0px 10px 15px 4px rgba(0,0,0,0.11);
-moz-box-shadow: 0px 10px 15px 4px rgba(0,0,0,0.11);
    margin-top: 30px;
    border-radius: 20px;    
    height: 400px;
    overflow-y: scroll; 
    padding: 13px 20px;
}

 .userList-title {   
     font-family:"Poppins", sans-serif;
    color: black;
    font-weight: 600;
    font-size: 20px;
 }
 .userList-threeDot{
    color: #5F35F5;
 }

 .profile-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:20px 25px;
    border-bottom:1px solid rgba(0, 0, 0, 0.25);
    
    
    
    
 }
.profile-img-title-box{
    
    display: flex;
    column-gap: 20px;
    align-items: center;
   
}
 .profile-img-box{
    height: 50px;
    width: 50px;
    border-radius: 50%;
 }
 .profile-img-box img{
    height: 100%;
    width: 100%;
 }

 .userList-title-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 17px ;
    
}

.profile-title h4{
    font-size: 18px;
    font-weight: 600;
    font-family:"Poppins", sans-serif;
    color: black;
}

.profile-title p{
    font-size: 14px;
    font-weight: 500;
    font-family:"Poppins", sans-serif;
    color: #4D4D4DBF;
}
.profile-box button{
    font-size: 18px;
    font-weight: 600;
    font-family:"Poppins", sans-serif;
    color: #fff;
    padding: 2px 15px;
    background: #5F35F5;
    border-radius: 5px;
    border: 0px;
}

.popup-img-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

.preview-round{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.preview-box{
   width: 120px; 
   height: 100px;
   border-radius: 50%;
   overflow: hidden;
   margin: 20px 0px;
}