*{
    margin: 0;
    padding: 0;
}
.regImg{
    height: 100vh;
    width: 100%;
    object-fit: cover;
    display: block;
}
.reg-box{
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100%;

}
.reg-title{
    
    display: flex;
    flex-direction: column;
    
    align-items:center;
    justify-content: center;
    height: 100%;
    padding-right: 50px;
    width: 500px;
}
.reg-title h2{
    color: #11175D;
    font-size: 34px;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    padding-bottom: 13px;
}

.reg-title p{
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #808080;
    padding-bottom: 39px;
    padding-top: 13px;
    }

    .reg-title p:last-child{
        padding-top: 35px;
        color: #03014C;
        font-size: 13px;
        font-weight: 700;
        font-family: "Nunito", sans-serif;
        
        
    }

    .reg-title p:last-child span{
        color: #EA6C00;
        font-family: "Nunito", sans-serif;
        font-size: 13px;
    }

    .googleBtn{
        display: flex;
        gap: 10px;
        border:1px solid #8080806e;
        border-radius: 9px;
        justify-content: center;
        align-items: center;
        padding: 23px 29px;
        margin-bottom: 54px;
        cursor: pointer;

    }
    .googleBtn img{
        height: 19px;
        width: 19px;
    }
    .googleBtn h4{
        font-family: "Open Sans", sans-serif;
        color: #03014C;
        font-size: 13px;
        font-weight: 400;
        cursor: pointer;
    }
    .reg-title h5{
    color: #11175D;
    font-size: 34px;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    padding-bottom: 29px;
}

.passField{
    position: relative;
    width: 100%;
    
    text-align: center;
}
.fa-eye-on{
    position: absolute;
    left: 70%;
    top: 20%;
}

.fa-eye-on-login{
    position: absolute;
    left: 70%;
    top: 22%;
}



.error-screen{
    color: red;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    padding-bottom: 15px;
    
}


    .reg-grid{
        background: #092d54;
    }

    .passFieldLogin{
         position: relative;
          width: 100%;
          
    }

    @media (min-width: 370px) and (max-width: 600px) {
          .reg-title{
            margin-left: 50px;
            
          }
        .reg-title h2{
            font-size: 18px;
            margin-left: 5px;
            
        }
        .reg-title p{
            font-size: 16px;
            
        }
        #outlined-basic{
            width: 500px;
        }
        .reg-title h5{
            font-size: 30px;
            
        }
        
        
}
.forget-pass{
    height: 5px;
    width: 200px;
    margin-left: 72px;
    margin-bottom: 40px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #EA6C00;
    cursor: pointer;
}

     .forget-pass-ui{
        background: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(10px);
        
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        display: flex ;
        justify-content: center;
        align-items: center;
        /* left: 0; */
     }

  
.forget-pass-ui-box{
    background: #ffffff;
    text-align: center;
    height: 170px;
    width: 381px;
    padding: 50px 50px;
    border: solid black;
    border-radius: 20px;
}

.forget-pass-email{
    width: 100% !important;
}

.forget-pass-btn-box{
    display: flex;
    gap: 20px;
}